<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">
    
    <xacro:include filename="$(find mobile_robot_simulation)/urdf/wheel_parameters.urdf.xacro"/>
    
    <xacro:property name="base_const"   value="0.0833333333"/>
    <xacro:property name="base_mass"    value="1.0"/>
    <xacro:property name="base_width"   value="0.8"/>
    <xacro:property name="base_height"  value="0.6"/>
    <xacro:property name="base_depth"   value="0.3"/>

    <link name="base_link">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.14159265"/>
    </link>
    
    <!-- ROBOT BASE -->
    <link name="chassis_link">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${base_mass}"/>
            <inertia ixx="${base_const * base_mass * ((base_height * base_height) + (base_depth * base_depth))}" ixy="0.0" ixz="0.0" 
                                 iyy="${base_const * base_mass * ((base_width * base_width) + (base_depth * base_depth))}" iyz="0.0" 
                                         izz="${base_const * base_mass * ((base_width * base_width) + (base_height * base_height))}"/>
        </inertial>
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${base_width} ${base_height} ${base_depth}"/>
            </geometry>
            <material name="orange">
                <color rgba="1.0 0.7 0.0 1.0"/>
                <texture filename=""/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${base_width} ${base_height} ${base_depth}"/>
            </geometry>
        </collision>
    </link>
    <joint name="chassis_joint" type="fixed">
        <origin xyz="-0.2 0.0 0.30" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="chassis_link"/>
        <axis xyz="0.0 0.0 0.0"/>
    </joint>
    <gazebo reference="chassis_link">
        <material>
            Gazebo/Orange
        </material>
    </gazebo>

    <!-- Back Wheel -->
    <link name="back_wheel_link">
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="0.15"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
                <texture filename=""/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="0.15"/>
            </geometry>
        </collision>
    </link>
    <joint name="back_wheel_joint" type="fixed">
        <origin xyz="-0.2 0.0 -0.15" rpy="0.0 0.0 0.0"/>
        <parent link="chassis_link"/>
        <child link="back_wheel_link"/>
    </joint>
    <gazebo reference="back_wheel_link">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- Right Wheel -->
    <xacro:wheel name="right" x="0.2" y="-0.35" z="-0.15"/>
    <!-- Left Wheel -->
    <xacro:wheel name="left" x="0.2" y="0.35" z="-0.15"/>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
    </gazebo>

</robot>