<?xml version="1.0" ?>
<model>
    <name>Test_building01</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Sopterean Calin-Vasile</name>
        <email>soptereancalin@yahoo.com</email>
    </author>
    <description>Simple test building 00</description>
</model>
